USE [master]
GO
/****** Object:  Database [e-commerce-db]    Script Date: 19/10/2025 06:27:10 ******/
CREATE DATABASE [e-commerce-db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'e-commerce-db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\e-commerce-db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'e-commerce-db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\e-commerce-db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [e-commerce-db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [e-commerce-db]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 19/10/2025 06:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ImageUrl] [varchar](255) NULL,
 CONSTRAINT [PK_brands] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [text] NULL,
	[Code] [varchar](50) NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[delivery_person]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[delivery_person](
	[DeliveryPersonId] [varchar](20) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Phone] [varchar](10) NOT NULL,
	[Address] [varchar](50) NOT NULL,
 CONSTRAINT [PK_delivery_person] PRIMARY KEY CLUSTERED 
(
	[DeliveryPersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[feedback]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[feedback](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Description] [text] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_feedback] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inquiry]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inquiry](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UserId] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
	[Message] [text] NULL,
 CONSTRAINT [PK_inquiry] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inquiry_status]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inquiry_status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [text] NULL,
	[Code] [varchar](50) NULL,
 CONSTRAINT [PK_inquiry_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NOT NULL,
	[Amount] [decimal](12, 2) NOT NULL,
	[UserId] [int] NOT NULL,
	[DeliveryPersonId] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_product]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_order_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [text] NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Code] [varchar](50) NOT NULL,
 CONSTRAINT [PK_order_status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[overdue_payments]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[overdue_payments](
	[OverduePaymentId] [varchar](20) NOT NULL,
	[Amount] [varchar](50) NOT NULL,
	[OverdueDate] [datetime] NOT NULL,
	[DebtorId] [varchar](20) NOT NULL,
	[InterestRate] [varchar](10) NOT NULL,
	[TotaAmount] [varchar](50) NOT NULL,
	[FinalDate] [datetime] NOT NULL,
 CONSTRAINT [PK_overdue_payments] PRIMARY KEY CLUSTERED 
(
	[OverduePaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment](
	[PaymentId] [varchar](20) NOT NULL,
	[Method] [varchar](50) NOT NULL,
	[Amount] [int] NOT NULL,
	[OrderId] [varchar](20) NOT NULL,
 CONSTRAINT [PK_payment] PRIMARY KEY CLUSTERED 
(
	[PaymentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_method]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_method](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_payment_method] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[product]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
	[Description] [text] NULL,
	[CategoryId] [int] NOT NULL,
	[SupplierId] [int] NULL,
	[PromotionId] [int] NULL,
	[UserId] [int] NOT NULL,
	[ImageUrl] [varchar](255) NULL,
	[BrandId] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promotion]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promotion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Discount] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UserId] [varchar](20) NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[response]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[response](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Reply] [text] NOT NULL,
	[Date] [datetime] NOT NULL,
	[InquiryId] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
 CONSTRAINT [PK_response] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](10) NOT NULL,
	[AccessLevel] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PhoneNumber] [varchar](50) NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ModifiedAt] [datetime] NULL,
 CONSTRAINT [PK_customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_role]    Script Date: 19/10/2025 06:27:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
 CONSTRAINT [PK_user_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[brand] ON 

INSERT [dbo].[brand] ([Id], [Name], [ImageUrl]) VALUES (1, N'SONY', N'Products/sony.png')
INSERT [dbo].[brand] ([Id], [Name], [ImageUrl]) VALUES (2, N'Samsung', N'Products/samsung.png')
INSERT [dbo].[brand] ([Id], [Name], [ImageUrl]) VALUES (3, N'Panasonic ', N'Products/panasonic.jpg')
SET IDENTITY_INSERT [dbo].[brand] OFF
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([Id], [Name], [Description], [Code]) VALUES (1, N'Home Appliances', NULL, N'HOME_APPLIANCES')
INSERT [dbo].[category] ([Id], [Name], [Description], [Code]) VALUES (2, N'Kitchen Appliances', NULL, N'KITCHEN_APPLIANCES')
INSERT [dbo].[category] ([Id], [Name], [Description], [Code]) VALUES (3, N'Mobile Devices & Accessories', NULL, N'MOBILE_DEVICES_AND_ACCESSORIES')
SET IDENTITY_INSERT [dbo].[category] OFF
SET IDENTITY_INSERT [dbo].[inquiry] ON 

INSERT [dbo].[inquiry] ([Id], [CreatedAt], [UserId], [StatusId], [Message]) VALUES (1, CAST(N'2025-05-27T20:34:12.520' AS DateTime), 1, 1, N'teset')
INSERT [dbo].[inquiry] ([Id], [CreatedAt], [UserId], [StatusId], [Message]) VALUES (2, CAST(N'2025-05-27T21:15:23.047' AS DateTime), 1, 1, N'this is a test')
INSERT [dbo].[inquiry] ([Id], [CreatedAt], [UserId], [StatusId], [Message]) VALUES (3, CAST(N'2025-05-27T21:18:29.327' AS DateTime), 1, 1, N'rttretretre')
SET IDENTITY_INSERT [dbo].[inquiry] OFF
SET IDENTITY_INSERT [dbo].[inquiry_status] ON 

INSERT [dbo].[inquiry_status] ([Id], [Name], [Description], [Code]) VALUES (1, N'New', NULL, N'NEW')
INSERT [dbo].[inquiry_status] ([Id], [Name], [Description], [Code]) VALUES (2, N'Ignored', NULL, N'IGNORED')
INSERT [dbo].[inquiry_status] ([Id], [Name], [Description], [Code]) VALUES (3, N'Processed', NULL, N'PROCESSED')
SET IDENTITY_INSERT [dbo].[inquiry_status] OFF
SET IDENTITY_INSERT [dbo].[order] ON 

INSERT [dbo].[order] ([Id], [StatusId], [Amount], [UserId], [DeliveryPersonId], [CreatedAt]) VALUES (5, 1, CAST(0.00 AS Decimal(12, 2)), 1, NULL, CAST(N'2025-08-17T11:39:34.767' AS DateTime))
INSERT [dbo].[order] ([Id], [StatusId], [Amount], [UserId], [DeliveryPersonId], [CreatedAt]) VALUES (1005, 1, CAST(0.00 AS Decimal(12, 2)), 9, NULL, CAST(N'2025-08-21T09:00:48.647' AS DateTime))
SET IDENTITY_INSERT [dbo].[order] OFF
SET IDENTITY_INSERT [dbo].[order_product] ON 

INSERT [dbo].[order_product] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (2, 1005, 5, 2)
INSERT [dbo].[order_product] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (6, 5, 37, 2)
INSERT [dbo].[order_product] ([Id], [OrderId], [ProductId], [Quantity]) VALUES (1002, 1005, 7, 1)
SET IDENTITY_INSERT [dbo].[order_product] OFF
SET IDENTITY_INSERT [dbo].[order_status] ON 

INSERT [dbo].[order_status] ([Id], [Name], [Description], [CreatedAt], [Code]) VALUES (1, N'New', NULL, CAST(N'2025-08-17T11:29:31.380' AS DateTime), N'NEW')
INSERT [dbo].[order_status] ([Id], [Name], [Description], [CreatedAt], [Code]) VALUES (2, N'Processing', NULL, CAST(N'2025-08-17T11:29:31.380' AS DateTime), N'PROCESSING')
INSERT [dbo].[order_status] ([Id], [Name], [Description], [CreatedAt], [Code]) VALUES (3, N'Delivery in progress', NULL, CAST(N'2025-08-17T11:29:31.380' AS DateTime), N'DELIVERY_IN_PROGRESS')
SET IDENTITY_INSERT [dbo].[order_status] OFF
SET IDENTITY_INSERT [dbo].[product] ON 

INSERT [dbo].[product] ([Id], [Name], [Quantity], [Price], [Description], [CategoryId], [SupplierId], [PromotionId], [UserId], [ImageUrl], [BrandId], [CreatedAt]) VALUES (5, N'Samsung 43 Inch Smart TV', 11, CAST(128000.00 AS Decimal(12, 2)), N'4K Ultra HD (3840 x 2160) resolution,Powered by Tizen OS', 1, NULL, NULL, 7, N'Products/tv1.jpg', 2, CAST(N'2025-06-27T19:07:03.270' AS DateTime))
INSERT [dbo].[product] ([Id], [Name], [Quantity], [Price], [Description], [CategoryId], [SupplierId], [PromotionId], [UserId], [ImageUrl], [BrandId], [CreatedAt]) VALUES (6, N'Panasonic 55 Inch UHD Smart TV', 20, CAST(240000.00 AS Decimal(12, 2)), N'Full HD (1920 x 1080),AirSlim Design/3-Bezel-less Design', 1, NULL, NULL, 7, N'Products/tv2.jpg', 3, CAST(N'2025-06-27T19:07:03.270' AS DateTime))
INSERT [dbo].[product] ([Id], [Name], [Quantity], [Price], [Description], [CategoryId], [SupplierId], [PromotionId], [UserId], [ImageUrl], [BrandId], [CreatedAt]) VALUES (7, N'LG 43 Inch UHD 4K Smart TV', 12, CAST(234000.00 AS Decimal(12, 2)), N'43-inch Smart TV,Motion Xcelerator/Motion Rate', 1, NULL, NULL, 7, N'Products/tv3.jpg', 4, CAST(N'2025-06-27T19:07:03.270' AS DateTime))
SET IDENTITY_INSERT [dbo].[product] OFF
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([Id], [Name], [AccessLevel], [CreatedAt]) VALUES (1, N'Admin', 10, CAST(N'2025-05-24T12:37:27.207' AS DateTime))
INSERT [dbo].[role] ([Id], [Name], [AccessLevel], [CreatedAt]) VALUES (2, N'Customer', 100, CAST(N'2025-05-24T12:38:36.593' AS DateTime))
INSERT [dbo].[role] ([Id], [Name], [AccessLevel], [CreatedAt]) VALUES (3, N'Manager', 30, CAST(N'2025-05-24T12:40:54.500' AS DateTime))
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([Id], [FirstName], [LastName], [Username], [Email], [PhoneNumber], [Password], [Address], [CreatedAt], [ModifiedAt]) VALUES (1, N'Isuri', N'Ambepitiya', N'IsuriA', N'ambepitiyaisuri@gmail.com', N'0772012121', N'YWJjMTIz', N'o.143/1,Mulleriyawa-north,angoda ', CAST(N'2025-04-26T18:32:17.800' AS DateTime), NULL)
INSERT [dbo].[user] ([Id], [FirstName], [LastName], [Username], [Email], [PhoneNumber], [Password], [Address], [CreatedAt], [ModifiedAt]) VALUES (2, N'Renuka', N'Dissanayaka', N'RenukaD', N'renuka@gmail.com', N'0778569645', N'YWJjMTIz', N'45A,kotikawatta', CAST(N'2025-04-26T20:07:43.987' AS DateTime), NULL)
INSERT [dbo].[user] ([Id], [FirstName], [LastName], [Username], [Email], [PhoneNumber], [Password], [Address], [CreatedAt], [ModifiedAt]) VALUES (3, N'Dulakshi', N'Ambepitiya ', N'DulakA', N'dulakshinipunika@gmail.co', N'0775178299', N'YWJjMTIz', N'78A/1,Wellawaththa', CAST(N'2025-04-29T21:12:49.637' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[user] OFF
SET IDENTITY_INSERT [dbo].[user_role] ON 

INSERT [dbo].[user_role] ([Id], [UserId], [RoleId]) VALUES (1, 1, 1002)
INSERT [dbo].[user_role] ([Id], [UserId], [RoleId]) VALUES (2, 7, 2)
INSERT [dbo].[user_role] ([Id], [UserId], [RoleId]) VALUES (3, 12, 2)
SET IDENTITY_INSERT [dbo].[user_role] OFF
ALTER TABLE [dbo].[feedback] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[inquiry] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[order_product] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[order_status] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[product] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[promotion] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[response] ADD  CONSTRAINT [DF_response_Date]  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[role] ADD  CONSTRAINT [DF_role_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[user] ADD  CONSTRAINT [DF_customer_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[feedback]  WITH CHECK ADD  CONSTRAINT [FK_dbo.feedback_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[product] ([Id])
GO
ALTER TABLE [dbo].[feedback] CHECK CONSTRAINT [FK_dbo.feedback_ProductId]
GO
ALTER TABLE [dbo].[inquiry]  WITH CHECK ADD  CONSTRAINT [FK_dbo.inquiry_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[inquiry_status] ([Id])
GO
ALTER TABLE [dbo].[inquiry] CHECK CONSTRAINT [FK_dbo.inquiry_StatusId]
GO
ALTER TABLE [dbo].[inquiry]  WITH CHECK ADD  CONSTRAINT [FK_dbo.inquiry_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[inquiry] CHECK CONSTRAINT [FK_dbo.inquiry_UserId]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.order_DeliveryPersonId] FOREIGN KEY([DeliveryPersonId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_dbo.order_DeliveryPersonId]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.order_StatusId] FOREIGN KEY([StatusId])
REFERENCES [dbo].[order_status] ([Id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_dbo.order_StatusId]
GO
ALTER TABLE [dbo].[order]  WITH CHECK ADD  CONSTRAINT [FK_dbo.order_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[order] CHECK CONSTRAINT [FK_dbo.order_UserId]
GO
ALTER TABLE [dbo].[order_product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.order_product_OrderId] FOREIGN KEY([OrderId])
REFERENCES [dbo].[order] ([Id])
GO
ALTER TABLE [dbo].[order_product] CHECK CONSTRAINT [FK_dbo.order_product_OrderId]
GO
ALTER TABLE [dbo].[order_product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.order_product_ProductId] FOREIGN KEY([ProductId])
REFERENCES [dbo].[product] ([Id])
GO
ALTER TABLE [dbo].[order_product] CHECK CONSTRAINT [FK_dbo.order_product_ProductId]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[category] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_dbo.Product_CategoryId]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.product_dbo.brand_BrandId] FOREIGN KEY([Id])
REFERENCES [dbo].[product] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_dbo.product_dbo.brand_BrandId]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_PromotionId] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[promotion] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_dbo.Product_PromotionId]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_SupplierId] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_dbo.Product_SupplierId]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Product_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_dbo.Product_UserId]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_product] FOREIGN KEY([Id])
REFERENCES [dbo].[product] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_product]
GO
ALTER TABLE [dbo].[product]  WITH CHECK ADD  CONSTRAINT [FK_product_product1] FOREIGN KEY([Id])
REFERENCES [dbo].[product] ([Id])
GO
ALTER TABLE [dbo].[product] CHECK CONSTRAINT [FK_product_product1]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK_dbo.user_role_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[role] ([Id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK_dbo.user_role_RoleId]
GO
ALTER TABLE [dbo].[user_role]  WITH CHECK ADD  CONSTRAINT [FK_dbo.user_role_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[user] ([Id])
GO
ALTER TABLE [dbo].[user_role] CHECK CONSTRAINT [FK_dbo.user_role_UserId]
GO
USE [master]
GO
